.facebook {
    background-image: url(../imgs/svg/fb_b.svg);
}
.youtube {
    background-image: url(../imgs/svg/yt_b.svg);
}
.insta {
    background-image: url(../imgs/svg/insta_b.svg);
}
.lang {
    background-image: url(../imgs/svg/lang_b.svg);
}